 /*changes the characteristics of the pageHeader class */
 .pageHeader {
    text-align: center;
    margin-bottom: 15px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
 }
/*changes the characteristics of the representative class */
 .representative {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
 }
 /*changes the styles of the representative_info class*/
 .representative_info {
   max-width: 100%;
   
 }

 